<h1>See what you did... you monster!</h1>
<h2>Error 404 - Page not found</h2>
<%= image_tag("cassettes/404.PNG", width: 600) %>
<br>
<%= link_to "Back to our main page", '/', class: "button round alert start-button" %>
