<div class="hero-image home">
  <div class="row">
    <div class="large-12 columns xy-center">

      <div class="row">
        <div class="large-12 columns">
          <a href="/imports">
            <h1 class="canvas red inline">Liberate your playlist</h1>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <a href="/imports">
            <h2 class="canvas blue inline">Take it anywhere YOU like!</h2>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>