<div class="row">
  <div class="large-12 columns">

    <div class="row">
      <div class="large-12 columns">
        <h1>Free your music</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h2>from any streaming music service</h2>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <a class="button round alert start-button" href="/imports">Free your playlist</a>
      </div>
    </div>
  </div>
</div>
