// Place all the styles related to the import controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "flexbox";

.provider-box {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  border-radius: 8px;
  background-color: rgba(0,0,0,0);

  padding: 50px;

  &:hover {
    background-color: rgba(0,0,0,0.5);
  }
}

.progress-container {
  position: relative;
  margin-top: 150px;

  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;

  opacity: 1;

  .hide {
    // height: 0;
    opacity: 0;
  }

  .cursor {
    position: absolute;
    left: 0px;
    top: 0px;

    // -webkit-transition: all 0.5s linear;
    // -moz-transition: all 0.5s linear;
    // -o-transition: all 0.5s linear;
    // -ms-transition: all 0.5s linear;
    // transition: all 0.5s linear;

    // transform: rotate(-10deg);
  }
}

.import-options {
  background-color: #fff;

  .button {
    width: 400px;
  }
}

.animation-container {
  height: 400px;
}

.selection-container {
  margin-top: 50px;

  .button {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.more-info {
  margin-top: 25px;
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
      animation: dot 1.3s infinite;
      animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
     animation: dot 1.3s infinite;
     animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}
